.myChatInput {
    max-height: 5em;
    /* ion-textarea css */
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-end: 5%;
    --placeholder-color: black;
    --color: black;
}

.inputCol {
    max-height: 100%;
    max-width: 80%;
    overflow-y: scroll;
}

.buttonCol {
    max-height: 100%;
    max-width: 20%;
}

/*.myChatInput .native-textarea {
    max-height: 100%;
}*/