.myBubbleContainer {
    width: 100%;
}

.myBubble {
    float: right;
    margin-left: 20%;
    max-width: 80%;
    display: table-cell;
    white-space: pre-wrap;
}

.myBubble ion-card-content {
    color: black;
}

.yourBubbleContainer {
    width: 100%;
}

.yourBubble {
    float: left;
    margin-right: 20%;
    max-width: 80%;
    display: table-cell;
    white-space: pre-wrap;
    background-color: white;
}

.yourBubble ion-card-content {
    color: black;
}